.Footer {
  width: 100%;
  padding-top: 15px;
  padding-bottom: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: calc(var(--bar-height)* 1.5);
  background-color: var(--Secondary-color);
  color: var(--Main-text-color);
  font-size: 12px;
}

.Footer > p {
  line-height: 0;
  font-style: italic;
}