h2, h1 {
  margin: 0;
}

h2 {
  padding-left: 10px;
  padding-top: 10px;
}

.MainContentArea {
  margin-top: 45px;
}


#greeter {
  background-color: var(--Main-color);
  overflow-wrap: normal;
  color: white;
  text-align: center;
  width: 100%;
  height: 300px;
  line-height: 300px;
}

.filter {
  background-color: var(--Secondary-color);
  width: 100%;
  height: 60px;
  font-size: 30px;
  font-weight: 800;
  color: var(--Main-text-color);
  padding-top: 15px;
}

.filter > div {
  margin-left: 15px;
}

.CardFlow {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  height: auto;
  margin-top: 30px;
  margin-bottom: 30px;
  gap: 30px;
}