.Main {
  padding-top: 30px;
  height:calc(100vh - var(--bar-height) );
  display: flex;
  gap: 0;
  flex-direction: column;
  justify-content: space-between;
}

h2, h1 {
  margin: 0;
}

h2 {
  padding-left: 10px;
  padding-top: 10px;
}

#greeter {
  background-color: rgb(27, 99, 162);
  color: white;
  text-align: center;
  padding: 80px;
}

