.RootLayout {
  height:100vh;
  overflow-y: auto;
  color: black;
}

.ScrollableWrapper {
  display: flex;
  flex-direction: column;
  gap: 0px;
  width: 100%;
  height: calc(100% - var(--bar-height));
}

.LoginWrapper {
  background-color: rgb(255, 255, 255);
  flex: 2;
  display: flex;
  justify-content: center;
  align-items: center;
}

.LoginBox {
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding: 25px;
  border-radius: 30px;
  min-width: 30%;
  background-color: var(--Main-color);
}

.LoginBox > label {
  font-weight: 900;
  font-size: 60px;
  font-style: italic;
}

.LoginBox > button {
  width: 15%;
}

.LoginFields {
  flex: 2;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  gap: 30px;
}

.LoginRow > label {
  font-weight: 900;
  font-size: 19px;
  font-style: italic;
}


.LoginActions {
  display: flex;
  gap:10px;
}

