.CardWrapper {
  transition-duration: 300ms;
  width:  400px;
  height: 400px;
  display: flex;
  flex-direction: column;
  align-items: left;
}

.CardWrapper:hover {
  transition-duration: 300ms;
  filter: brightness(170%);
  scale: 90%;
}

.CardWrapper:active {
  transition-duration: 300ms;
  filter: brightness(80%);
}




.CardTitle{
  background-color: var(--Main-color);
  color: var(--Main-text-color);
  flex: 4;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.CardFooter {
  flex: 1;
  background-color: black;
  color: var(--Main-text-color);
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}